<!-- prettier-ignore -->
{% extends "layout.html" %}


{% block title %}
{{ title }}
{% endblock %}


{% block body %}
<h1>{{title}}</h1>
<ul>
  <li>
    <a
      href="{{url_for('add_movie_showtime_s1')}}"
      class="btn btn-primary mt-3 max-width-content"
      role="button"
      >Thêm movie showtime</a
    >
  </li>
  <li>
    <a
      href="{{url_for('show_movie_showtime')}}"
      class="btn btn-primary mt-3 max-width-content"
      role="button"
      >Quản lý movie showtime</a
    >
  </li>

  <li>
    <a
      href="{{url_for('search_movie_showtimea_s1')}}"
      class="btn btn-primary mt-3 max-width-content"
      role="button"
      >hiển thị movie showtime</a
    >
  </li>
  <li>
    <a
      href="{{ url_for('find_movie_showtime_s1') }}"
      class="btn btn-primary mt-3 max-width-content"
      role="button"
      >Tìm kiếm movie showtime</a
    >
  </li>
</ul>

  {% endblock %}
</ul>
