<!-- prettier-ignore -->
{% extends "layout.html" %}


{% block title %}
{{ title }}
{% endblock %}

<h1>{{title}}</h1>

{% block body %}
<form action="" method="post">
  {{ form.hidden_tag() }}
  <input type="hidden" name="id_user" value="{{user.id}}" />
  <p>
    <!-- prettier-ignore -->
    {{ form.fullname.label(class="form-label") }}
    {{ form.fullname(class="form-control", value=user.fullname) }}
    {% for error in form.fullname.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </p>

  <p>
    <!-- prettier-ignore -->
    {{ form.phone_number.label(class="form-label") }}
    {{ form.phone_number(class="form-control", value=user.phone_number) }}
    {% for error in form.phone_number.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </p>
  <p>
    <!-- prettier-ignore -->
    {{ form.dob.label(class="form-label") }}
    {{ form.dob(class="form-control", value = user.dob) }}
    {% for error in form.dob.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </p>
  <p>
    <!-- prettier-ignore -->
    {{ form.gender.label(class="form-label") }}
    {% for subfield in form.gender %}
    <tr>
      <td>{{ subfield }}</td>
      <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %} {% for error in form.gender.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </p>
  <p>
    <!-- prettier-ignore -->
    {{ form.is_admin.label(class="form-label") }}
    {% for subfield in form.is_admin %}
    <tr>
      <td>{{ subfield }}</td>
      <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %} {% for error in form.is_admin.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
  </p>

  <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% endblock %}
